<?xml version="1.0" encoding="utf-8"?>
<config>
<wifi5g_enabled>1</wifi5g_enabled>
<wifiautocountry_enabled>0</wifiautocountry_enabled>
<wifiautocountryswitch>0</wifiautocountryswitch>
<chinesessid_enable>0</chinesessid_enable>
<guestwifi_enable>1</guestwifi_enable>
<wifi_dfs_enable>0</wifi_dfs_enable>
<wifiaccessui>0</wifiaccessui>
<wifibssisolate>1</wifibssisolate>
<wifi_dbdc_enable>1</wifi_dbdc_enable>
<pmf_enable>1</pmf_enable>
<radio1>
<wifibasic>
<totalwifimaxassoc>16</totalwifimaxassoc>
<pmf_mode>1</pmf_mode>
</wifibasic>
<ssid1>
<wifimaxassoc>16</wifimaxassoc>
<wifiautochannelenable>0</wifiautochannelenable>
</ssid1>
<ssid2>
<wifienable>0</wifienable>
<wifibroadcast>1</wifibroadcast>
<wifimaxassoc>16</wifimaxassoc>
<wifiautochannelenable>0</wifiautochannelenable>
<wifiisolate>1</wifiisolate>
<wifidisassoctime>300</wifidisassoctime>
<wifiofftime>600</wifiofftime>
<wifiisguestnetwork>1</wifiisguestnetwork>
<wifisec>
<wifiauthmode>WPA2</wifiauthmode>
<wifiencryptionmodes>AES</wifiencryptionmodes>
</wifisec>
</ssid2>
</radio1>
<radio2>
<enable>1</enable>
<wifibasic>
<wififreband>5GHz</wififreband>
<wifimode>a/n/ac</wifimode>
<wificountry>RU</wificountry>
<wifibandwidth>40</wifibandwidth>
<totalwifimaxassoc>16</totalwifimaxassoc>
<wifiautochannelenable>0</wifiautochannelenable>
<wifichannel>36</wifichannel>
<wifiwmmenable>1</wifiwmmenable>
<pmf_mode>1</pmf_mode>
</wifibasic>
<ssid1>
<wifienable>0</wifienable>
<wifibroadcast>1</wifibroadcast>
<wifimaxassoc>16</wifimaxassoc>
<wifiisolate>0</wifiisolate>
<wifidisassoctime>300</wifidisassoctime>
<wifiofftime>600</wifiofftime>
<wifiisguestnetwork>0</wifiisguestnetwork>
<wifisec>
<wifiauthmode>WPA2</wifiauthmode>
<wifiencryptionmodes>AES</wifiencryptionmodes>
</wifisec>
<wps>
<wifiwpsenbl>1</wifiwpsenbl>
</wps>
</ssid1>
</radio2>
</config>
